<!DOCTYPE html>
<html>
<body>
<div align=center>
	<h2>Staff Information</h2>
    {% if staff %}
        <label for="name">Name: {{ staff.name }}</label><br><br>

        <label for="gender">Gender: {{ staff.gender }}</label><br><br>

        <label>Avatar:</label><br>
        <img src={{staff.avatar}} width="300"/><br><br>
        
        <p>Complete!</p>

        <form id='log' action="{% url 'log' %}" method="get"></form>
        <form id='list' action="{% url 'list' %}" method="get"></form>
        
        <input id='log' form='log' type="submit" value="Show Log" >
        <input id='list' form='list' type="submit" value="List Staff" >
    {% else %}
        <p>Try Again!</p>
    {% endif %}
</div>
</body>
</html>
