<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>
<div align=center>
	<h2>Staff</h2>
    {% if staff %}
        <table style="width:50%">
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Avatar</th>
            </tr>
            {% for record_staff in staff %}
            <tr align=center>
                <td><a href="http://127.0.0.1:8000/staff/info_update/{{ record_staff.id }}">{{ record_staff.name }}</a></td>
                <td>{{ record_staff.gender }}</td>
                <td><img src={{ record_staff.avatar }} width="200"/></td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Try Again!</p>
    {% endif %}
</div>
</body>
</html>
